.game-popup_container {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.646);
}

.game-popup {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game-popup_card {
	width: 40rem;
	background-color: white;
	padding: 3rem;
	border-radius: 2rem;
	font-size: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.game-popup_again-btn {
	padding: 1rem;
	cursor: pointer;
	background-color: rgba(250, 235, 215, 0.559);
	border: 2px solid rgb(137, 122, 105);
	border-radius: 1rem;
	color: rgb(137, 122, 105);
	transition-property: background-color, color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.game-popup_again-btn:hover {
	background-color: rgb(137, 122, 105);
	color: white;
}

.difficulty_label {
	font-size: 1.5rem;
	display: flex;
	gap: 0.5rem;
}
