.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 7rem;
	background-color: antiquewhite;
	box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.2);
}

.main-title {
	font-size: 3rem;
}

ul {
	list-style: none;
}

label {
	font-size: 1.5rem;
	display: flex;
	gap: 1rem;
}
