.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 7rem;
	background-color: antiquewhite;
	box-shadow: 1px 1px 8px 0px rgba(34, 60, 80, 0.2);
}

.main-title {
	font-size: 3rem;
}

ul {
	list-style: none;
	display: flex;
	gap: 5rem;
	font-size: 1.5rem;
}

.header_item {
	display: flex;
	gap: 0.8rem;
}

.reset-game_container {
	font-size: 1.5rem;
	cursor: pointer;
	position: relative;
}

.reset-game_tooltip {
	position: absolute;
	font-size: 1rem;
	background-color: rgb(251, 224, 187);
	padding: 0.5rem;
	text-wrap: nowrap;
	bottom: -180%;
	left: -130%;
	border-radius: 0.3rem;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	pointer-events: none;
}

.reset-game_container:hover .reset-game_tooltip {
	opacity: 0.8;
}
